<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="app.css" type="text/css">
    <script src="jquery-3.4.1.min.js"></script>
    <script defer src="app.js"></script>
    <title>Todo List</title>
</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>Todo List Application</h2>
    </header>
    <section class="form">
        <input type="text" id="todoInput" placeholder="What task do you want to add?">
    </section>
    <ul class="list"></ul>
</body>
</html>